button, form{
    display: inline;
}

.banner {
    background-color: rgb(17, 30, 54);
    color: white;
    margin-top: 75px;
    text-align: center;
    padding: 100px;
}
#bannertitle {
    font-size: 80px;
}

img {
    height: 200px;;
}

html {
    line-height: 30px;
}

.videos {
    text-align: center;
}

.videos-span {
    font-size: 30px;
}

.quirky {
    color: #126e92;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.video-desc {
    font-size: 20px;
    font-family: cursive;
}